.menu-head{
    margin-left: 800px;
    margin-top: 40px;
}

.list-item1{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.search-bar{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 20px;
}


.menu-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
}